.ControlPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  li {
    width: calc(25% - 4px);
    height: 1.62rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 6px lighten(gray,40%);
    margin: 2px;
    padding-left: 5px;

    input {
      border: none;
    }
  }
}